extends layout

block content
    //- h1= time
    .container
      h1 Timestamp API
      h2 Author: 
        a(href="https://github.com/kighting/timestamp") Kaiting Huang
      .divider
      p.title Example usage
      p Input natural date or unix number in the URL. For example: 
      code localhost:3000/December 15, 1987
      br
      code localhost:3000/566553600
      p.title Expected output is JSON
      code {"unix": 566553600, "natural": December 15, 1987}
