doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='styelsheet', href='https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700', type='text/css')
  body
    block content
